.FolderItem > div:first-of-type {
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
  z-index: 2;
}

.FolderItem > div:not(:first-of-type),
.FolderItem button {
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
}

.FolderItem.Active div {
  color: #e14737;
}

.FolderNameWrapper {
  bottom: 0;
}

.RemoveButtonWrapper,
.FolderNameWrapper {
  z-index: 10;
  height: 15%;
}

.RemoveButtonWrapper {
  top: 0;
}

.RemoveButtonWrapper > div {
  display: none;
  color: #e14737;
  font-size: 9px;
  font-weight: 400;
  text-transform: uppercase;
  z-index: 100501;
}

.FolderItem.Active .RemoveButtonWrapper > div {
  display: block;
}

.SecurityLayers {
  top: 15%;
  bottom: 15%;
  height: 70%;
  z-index: 0;
  flex-wrap: wrap;
  outline: none;
}

.SecurityLayers > div {
  width: 50%;
  height: 50%;
  display: none;
  align-items: center;
}

.SecurityLayers > div:first-of-type,
.SecurityLayers > div:nth-of-type(3) {
  justify-content: flex-start;
}

.SecurityLayers > div:nth-of-type(2),
.SecurityLayers > div:nth-of-type(4) {
  justify-content: flex-end;
}

.FolderItem.Active .SecurityLayers > div {
  display: flex;
}

.Corners {
  display: none;
}

.FolderItem.Active {
  color: #e14737;
}

.FolderItem.Active > .Corners {
  display: block;
}

.FolderItem:nth-last-of-type(1),
.FolderItem:nth-last-of-type(2),
.FolderItem:nth-last-of-type(3) {
  margin-bottom: 0;
}
