.FolderItem {
  padding-top: calc(100% / 3);
  position: relative;
  height: 0;
}

.FolderItem > div {
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
  z-index: 2;
}

.Corners {
  display: none;
}

.FolderItem > div.Active > .Corners {
  display: block;
}
