.Input {
  box-sizing: border-box;
}

.Label {
  display: block;
  border: none;
  vertical-align: baseline;
  font-size: 1.4rem;
  line-height: 1;
  font-weight: bold;
}

.InputElement {
  outline: none;
  font-size: 1.4rem;
  display: block;
  box-sizing: border-box;
  font-weight: bold;
  letter-spacing: 0.2px;
  line-height: 2;
  transition: opacity 0.4s linear;
  /*height: 5.556vh;*/
  height: 5rem;
  border: none;
}

.InputElement::placeholder {
  color: #30d6d6;
  text-transform: uppercase;
}

.Select {
  background-color: transparent;
  padding: 0;
}

.Select > div:first-of-type {
  width: calc(100% - 5.2rem);
  margin-right: 2px;
  box-sizing: border-box;
  /*height: 5.556vh;*/
  height: 5rem;
  padding-top: 2rem;
}

.ArrowDown {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 5rem;
  box-sizing: border-box;
  outline: none;
}

.Options {
  position: absolute;
  top: calc(100% + 2px);
  right: 0;
  left: 0;
  padding-right: 5.2rem;
}

.Options > button {
  font-family: "Aldrich", sans-serif;
  border: none;
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  margin-bottom: 2px;
  z-index: 100501;
  box-sizing: border-box;
  outline: none;
  padding-top: 2rem;
}

.Select .Hide {
  display: none;
}

.Invalid {
  border: 1px solid #ff6060;
}

.ErrorMessage {
  color: #ff6060;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1;
  text-align: left;
  display: none;
}

.Invalid ~ .ErrorMessage {
  display: block;
}
