.Layout > main {
  height: calc(100vh - 7rem);
  background-size: cover;
  box-sizing: border-box;
  overflow: hidden;
}

.Layout > main > article {
  border-width: 1px 0 0;
  border-color: #165e6a;
  border-style: solid;
}

.Layout >  main.NoFooter > article {
  border-bottom: none;
}
