.NotesItem {
  padding-top: calc(100% / 3);
  position: relative;
  height: 0;
}

.NotesItem > div {
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
  z-index: 2;
  font-weight: 400;
  text-transform: uppercase;
}

.Corners {
  display: none;
}

.NotesItem > div.Active {
  color: #e14737;
}

.NotesItem > div.Active > .Corners {
  display: block;
}
