.AddButton > div:first-of-type {
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
  z-index: 0;
}

.Text {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1;
  text-align: center;
}

@media (max-width: 1300px) {
  .AddButton > div {
    font-size: 1rem;
  }
}
