.GhostFiles {
  overflow: hidden;
}

.DropzoneWrapper {
  z-index: 0;
}

.DropzoneWrapper > div {
  width: 100% !important;
  height: 100% !important;
  border: 1px solid #0b3f46 !important;
  font-size: 1.4rem;
}

.ItemsWrapper {
  flex-wrap: wrap;
}

.ItemsWrapper > div:not(:last-of-type) {
  height: 0;
  width: 20%;
  padding-top: 20%;
}
