.GhostFiles {
  padding: 15px;
  overflow: hidden;
}

.DropzoneWrapper {
  z-index: 0;
}

.DropzoneWrapper > div {
  width: 100% !important;
  height: 100% !important;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid #0b3f46 !important;
  font-size: 1.4rem;
}

.ItemsWrapper {
  position: relative;
  flex-wrap: wrap;
  padding: 15px;
}
