.ContentWrapper {
  width: 50vh;
}

.Heading {
  font-size: 1vw;
  font-weight: 400;
  text-transform: uppercase;
}

.Timer {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  color: #30d6d6;
  font-size: 1vw;
  font-weight: 500;
  box-sizing: border-box;
}

.Timer > span {
  color: #0c6791;
  font-weight: 900;
  font-size: 1.6rem;
}

.ToTheRight {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}

.Buttons,
.LastButtonWrapper {
  flex-wrap: wrap;
}

.Buttons > div,
.LastButtonWrapper > div {
  width: 100%;
  max-width: calc((100% - 1.4rem) / 3);
  padding-top: calc((100% - 1.4rem)/ 3);
  height: 0;
}

.Buttons > div {
  margin-bottom: 0.7rem;
}

.Buttons > div:not(:nth-of-type(3n)),
.LastButtonWrapper > div:not(:nth-of-type(3n)) {
 margin-right: 0.7rem;
}

@media (max-height: 790px) {
  .HeadingBlock {
    flex-direction: column;
    align-items: flex-start;
  }

  .Heading {
    margin-bottom: 0.7rem;
  }
}
