.NodesMenu {
  margin: 15px;
}

.NodesMenu h3 {
  font-size: 1.4rem;
  color: #e14737;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 15px;
}

.NodesMenu > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.NodesMenu > ul > li {
  text-align: right;
  width: 53px;
}

.NodesMenu > ul > li > button:not(:disabled) {
  color: #2f96ba;
  font-size: 1.4rem;
  font-weight: 400;
  text-decoration: none;
  padding: 3px 15px;
  white-space: nowrap;
}

.NodesMenu > ul > li > button:not(:disabled) :hover,
.NodesMenu > ul > li > button:not(:disabled) :active,
.NodesMenu > ul > li > button:not(:disabled).Active {
  background-color: rgba(22, 94, 106, 0.3);
  color: white;
}
