.ComponentWrapper {
  outline: none;
}

.TheInput {
  background-color: transparent;
  overflow: hidden;
  border: none;
  text-align: center;
  outline: none;
  font-weight: 400;
  text-transform: uppercase;
  z-index: 100500;
  font-family: 'Aldrich', sans-serif;
  font-size: 1rem;
}
