.LeftColumn {
  margin-right: 15px;
}

.LeftColumn > img {
  width: 87.5px;
}

.RightColumn > div {
  align-items: flex-start;
}

.Input {
  outline: none;
  font-size: 1.4rem;
  padding: 16px 20px;
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.2px;
  margin-bottom: 10px;
  line-height: 23px;
  transition: opacity 0.2s linear;
  min-height: 50px;
  height: 50px;
  border: none;
  color: #30d6d6;
  background-color: rgba(22, 94, 106, 0.3);
  max-width: 182px;
}

.Input::placeholder {
  color: #e34530;
  text-align: center;
}

@media (max-width: 1300px) {
  .LeftColumn > img {
    width: 20px;
  }
}
