.Manipulation {
  flex: 6;
  padding: 25px;
}

.ConfirmationDeleteWrapper {
  flex-direction: row-reverse;
}

.Bottom {
  position: relative;
}

.ButtonWrapper > div {
  align-items: flex-end;
}

/* */
.Subtitle > div:first-of-type {
  color: #2f96ba;
  font-size: 8px;
  font-weight: 500;
  text-transform: uppercase;
}

.Subtitle > div:last-of-type {
  color: #fff;
  font-size: 6px;
  font-weight: 400;
  text-transform: uppercase;
}

.Subtitle > div:last-of-type::before {
  content: '';
  display: inline-block;
  width: 7px;
  height: 3px;
  background-color: #96ba33;
  margin-right: 3px;
}

.Subtitle {
  margin-bottom: 7px;
}

@media (max-width: 1600px) {
  .Manipulation {
    flex: 5;
  }
}
