/*
.WalletWrapper {
  height: 50%;
}

.WalletOperations {
  display: block;
  padding: 0 15px;
  box-sizing: border-box;
}

@media (max-width: 1200px) {
  .WaleltsInfo {
    width: 300px;
  }

  .WalletOperations {
    width: calc(100% - 300px);
  }
}
*/
