.FileItem {
  height: 0;
  z-index: 10;
  outline: none;
  cursor: pointer;
}

.FileItem.Active {
  background: -moz-linear-gradient(45deg, rgba(22, 94, 106, 0.3) 0%, rgba(22, 94, 106, 0.3) 53%, rgba(22, 94, 106, 0.3) 95%, rgba(22, 94, 106, 0) 96%, rgba(22, 94, 106, 0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(22, 94, 106, 0.3)), color-stop(53%, rgba(22, 94, 106, 0.3)), color-stop(95%, rgba(22, 94, 106, 0.3)), color-stop(96%, rgba(22, 94, 106, 0)), color-stop(100%, rgba(22, 94, 106, 0))); /* Chrome, Safari4+ */
  background: -webkit-linear-gradient(45deg, rgba(22, 94, 106, 0.3) 0%, rgba(22, 94, 106, 0.3) 53%, rgba(22, 94, 106, 0.3) 95%, rgba(22, 94, 106, 0) 96%, rgba(22, 94, 106, 0) 100%); /* Chrome10+, Safari5.1+ */
  background: -o-linear-gradient(45deg, rgba(22, 94, 106, 0.3) 0%, rgba(22, 94, 106, 0.3) 53%, rgba(22, 94, 106, 0.3) 95%, rgba(22, 94, 106, 0) 96%, rgba(22, 94, 106, 0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg, rgba(22, 94, 106, 0.3) 0%, rgba(22, 94, 106, 0.3) 53%, rgba(22, 94, 106, 0.3) 95%, rgba(22, 94, 106, 0) 96%, rgba(22, 94, 106, 0) 100%); /* IE10+ */
  background: linear-gradient(45deg, rgba(22, 94, 106, 0.3) 0%, rgba(22, 94, 106, 0.3) 53%, rgba(22, 94, 106, 0.3) 95%, rgba(22, 94, 106, 0) 96%, rgba(22, 94, 106, 0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4d165e6a',  endColorstr='#00165e6a', GradientType=1); /* IE6-9 fallback on horizontal gradient */
}

.FileItem > div {
  background-position: center 20%;
  background-size: 50%;
  background-repeat: no-repeat;
  z-index: 2;
  font-weight: 400;
  text-transform: uppercase;
}

.FileItem > div > div {
  position: absolute;
  right: 0;
  left: 0;
  font-size: 1rem;
  line-height: 1;
  display: flex;
  align-items: center;
}

.FileItem > div > div:not(:first-of-type) {
  text-align: center;
}

.FileItem > div > div:first-of-type {
  top: 0;
  height: 15%;
  padding: 7% 30%;
}

.FileItem > div > div:nth-of-type(2) {
  top: 15%;
  height: 60%;
  padding-top: 15%;
}

.FileItem > div > div:last-of-type {
  height: 12.5%;
  bottom: 0;
}

.FileItem > div > div:nth-last-of-type(2) {
  height: 12.5%;
  bottom: 12.5%;
}

.FileItem:nth-last-of-type(1),
.FileItem:nth-last-of-type(2),
.FileItem:nth-last-of-type(3),
.FileItem:nth-last-of-type(4),
.FileItem:nth-last-of-type(5) {
  margin-bottom: 0;
}
