.Button {
  border: none;
  outline: none;
  cursor: pointer;
  font: inherit;
  text-transform: uppercase;
  letter-spacing: 0.71px;
  font-size: 1.4rem;
  padding: 16px 60px;
  box-sizing: border-box;
  transition: color 0.2s linear;
  min-height: 50px;
}

.Button > div {
  transition: all 0.2s linear;
}

.Button:hover,
.Button:active {
  color: white;
  border-color: white;

}

.Button:hover > div,
.Button:active > div {
  transform: scale(1.2);
}

.Button:disabled {
  color: #ccc;
  cursor: not-allowed;
}

.Button:disabled:hover {
  background-color: #999;
}
