/* main */
.container {
  width: 1333px;
  margin: 0 auto;
  box-sizing: border-box;
}

/* geometric */
.w100 {
  box-sizing: border-box;
  width: 100%;
}

.h100 {
  box-sizing: border-box;
  height: 100%;
}

.wh100 {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

.absolute100 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.relative {
  position: relative;
}

/* margin`s & padding`s */
.margin0 {
  margin: 0;
}

.padding0 {
  padding: 0;
}

.marginXsTop {
  margin-top: 0.7rem;
}

.marginXsRight {
  margin-right: 0.7rem;
}

.marginXsBottom {
  margin-bottom: 0.7rem;
}

.marginXsLeft {
  margin-left: 0.7rem;
}

.marginXs {
  margin: 0.7rem;
}

.paddingXsTop {
  padding-top: 0.7rem;
}

.paddingXsRight {
  padding-right: 0.7rem;
}

.paddingXsBottom {
  padding-bottom: 0.7rem;
}

.paddingXsLeft {
  padding-left: 0.7rem;
}

.paddingXs {
  padding: 0.7rem;
}

.marginSmTop {
   margin-top: 1.5rem;
 }

.marginSmRight {
  margin-right: 1.5rem;
}

.marginSmBottom {
  margin-bottom: 1.5rem;
}

.marginSmLeft {
  margin-left: 1.5rem;
}

.marginSm {
  margin: 1.5rem;
}

.paddingSmTop {
  padding-top: 1.5rem;
}

.paddingSmRight {
  padding-right: 1.5rem;
}

.paddingSmBottom {
  padding-bottom: 1.5rem;
}

.paddingSmLeft {
  padding-left: 1.5rem;
}

.paddingSm {
  padding: 1.5rem;
}

.marginMdTop {
  margin-top: 4rem;
}

.marginMdRight {
  margin-right: 4rem;
}

.marginMdBottom {
  margin-bottom: 4rem;
}

.marginMdLeft {
  margin-left: 4rem;
}

.marginMd {
  margin: 4rem;
}

.paddingMdTop {
  padding-top: 4rem;
}

.paddingMdRight {
  padding-right: 4rem;
}

.paddingMdBottom {
  padding-bottom: 4rem;
}

.paddingMdLeft {
  padding-left: 4rem;
}

.paddingMd {
  padding: 4rem;
}

/* flex boxes */
.flex {
  box-sizing: border-box;
  display: flex;
}

.flex1 {
  flex: 1;
}

.flex2 {
  flex: 2;
}

.flex3 {
  flex: 3;
}

.flex4 {
  flex: 4;
}

.flex5 {
  flex: 5;
}

.flex0050 {
  flex: 0 0 50%;
}

.flexColumn {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.justifyBetween {
  justify-content: space-between;
}

.justifyAround {
  justify-content: space-around;
}

.alignStart {
  align-items: flex-start;
}

.alignEnd {
  align-items: flex-end;
}

.justifyCenter {
  justify-content: center;
}

.justifyEnd {
  justify-content: flex-end;
}

.flexAlignCenter {
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.flexBetween {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}

.flexBetweenCenter {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexAroundCenter {
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flexAllCenter {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexColumnAllCenter {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flexColumnBetweenCenter {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.flexEndCenter {
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* colors */
.white {
  color: #fff;
}

.cyan {
  color: #30d6d6;
}

.blue {
  color: #2f96ba;
}

.lightBlue {
  color: rgba(22, 94, 106, 0.3);
}

.blueGreen {
  color: #207c7f;
}

.orange {
  color: #e34530;
}

.whiteBg {
  background-color: white;
}

.cyanBg {
  background-color: #30d6d6;
}

.blueBg {
  background-color: #2f96ba;
}

.lightBlueBg {
  background-color: rgba(22, 94, 106, 0.3);
}

.blueGreenBg {
  background-color: #207c7f;
}

.orangeBg {
  background-color: #e34530;
}

.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* fonts */
.h3 {
  font-size: 1.4rem;
  font-family: 'Aldrich', sans-serif;
  font-weight: 400;
  margin-bottom: 7px;
}

.textUpper {
  text-transform: uppercase;
}

.textCenter {
  text-align: center;
}

/* common */
.objWithLeftDot {
  margin-left: 15px;
  position: relative;
}

.objWithLeftDot::before {
  content: '';
  display: inline-block;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: #999;
  position: absolute;
  left: -10px;
  bottom: calc(50% - 2.5px);
}

.transparentButton {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.emptyMessage {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.orangeBar {
  display: inline-block;
  width: 12px;
  height: 3px;
  margin-right: 7px;
  background-color: #e14737;
}

.threeDotsAtTheEnd {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.inputWithLine > input {
  background-color: transparent;
  height: 35px;
  padding: 0 15px;
  border: none;
  position: relative;
  color: #2f96ba;
  font-size: 1.4rem;
  font-weight: 400;
  outline: none;
  border-bottom: 1px solid #2f96ba;
  letter-spacing: 0.15rem;
}

.inputWithLine > input::placeholder {
  color: #2f96ba;
  font-size: 1.4rem;
  font-weight: 400;
}

.inputWithLine::before {
  content: '';
  display: inline-block;
  position: absolute;
  width: 7px;
  background-color: #33474d;
  top: 0;
  bottom: 3.5px;
  left: 0;
}

.dontTouchMe {
  pointer-events: none;
}

.orangeHeader {
  color: #e34530;
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
}

/* media queries */
@media (max-width: 1333px) {
  .container {
    width: calc(100% - 60px);
  }
}

@media (max-width: 767px) {
  .container {
    width: calc(100% - 30px);
  }
}
