.Manipulation {
  flex: 6;
  padding: 25px;
}

.ConfirmationDeleteWrapper {
  flex-direction: row-reverse;
}

.Bottom {
  position: relative;
}

.ButtonWrapper > div {
  align-items: flex-end;
}

.Subtitle > div:first-of-type {
  color: #2f96ba;
  font-size: 8px;
  font-weight: 500;
  text-transform: uppercase;
}

.Subtitle > div:last-of-type {
  color: #fff;
  font-size: 6px;
  font-weight: 400;
  text-transform: uppercase;
}

.Subtitle > div:last-of-type::before {
  content: '';
  display: inline-block;
  width: 7px;
  height: 3px;
  background-color: #96ba33;
  margin-right: 3px;
}

.Subtitle {
  margin-bottom: 7px;
}

.TimpickerWrapper {
  max-width: 50%;
}

.TimpickerWrapper.Disabled {
  pointer-events: none;
  opacity: 0.3;
}

.TimpickerWrapper > button {
  height: 50px;
  min-width: 50px;
  text-align: center;
  background-color: rgba(22, 94, 106, 0.3);
  color: #2f96ba;;
  text-transform: uppercase;
  font-size: 1.4rem;
  border: none;
  margin-left: 7px;
  transition: color 0.4s linear;
  cursor: pointer;
}

.TimpickerWrapper > button:hover,
.TimpickerWrapper > button:active {
  color: white;
}

@media (max-width: 1600px) {
  .Manipulation {
    flex: 5;
  }

  .TimpickerWrapper {
    max-width: 40%;
  }
}
